nav a{
    display: block;
    color: red;
    text-decoration: none;
    float: left;
    background-color: yellow;
    inline-size: 13%;
    font-size: 20px;
}
h1{
    font-size: 70px;
    color: black
}
p{
    font-size: 50px;
    color: black;
}